@page
@using AspNetCore.ReCaptcha;
@using Microsoft.Extensions.Options
@model FreshFarmMarket.Pages.LoginModel
@{
}
@Html.ReCaptcha()
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Login </h1>

			<form method="post" enctype="multipart/form-data">
				<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
						<p class="lead fw-normal mb-0 me-3">Sign in with</p>
						<a asp-area="" asp-controller="Account" asp-action="GoogleLogin" class="btn btn-primary btn-floating mx-1">
							<i class="bi bi-google"></i>
						</a>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Text" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>
				<recaptcha></recaptcha>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
			<a asp-page="/ForgetpasswordEmail">Forget Password</a>
		</div>
	</div>
</div>
